@use '../mixins' as mx;
@use '../vars' as v;

.filters {
  position: relative;

  &__dropdown {
    min-height: 40px;

    &-heading {
      display: inline;
    }

    &-img {
      justify-self: end;
      @include mx.icon;
      position: absolute;
      right: 0;
      cursor: pointer;
    }
  }

  &__form {
    padding: 20px;
    display: grid;
    background-color: v.$light-gray;
    box-shadow: inset 1px 1px 5px v.$warm-gray-darker;

    &-input-text {
      justify-self: center;
      margin-top: 0.25rem;
      padding: 0.5rem;
      width: 100%;
      max-width: 400px;
      border-radius: 0.375rem;
      border: 1px solid #d1d5db;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
      font-size: 1.5rem;
    }

    &-input-text:focus {
      @include mx.focus-ring;
    }
  }
}

@media (min-width: 768px) {
  .filters__form-input-text {
    font-size: 1.25rem;
  }
}

@media (min-width: 1024px) {
  .filters {
    border-radius: 5px;
  }

  .filters__form-input-text {
    font-size: 1rem;
  }
}