@use '../mixins' as mx;
@use '../vars' as v;

.filters {
  position: relative;

  &__dropdown {
    min-height: 40px;

    &-heading {
      display: inline;
    }

    &-img {
      justify-self: end;
      @include mx.icon;
      position: absolute;
      right: 0;
      cursor: pointer;
    }
  }

  &__form {
    $p: 20px;
    padding: $p;
    background-color: v.$light-gray;
    box-shadow: inset 1px 1px 5px v.$warm-gray-darker;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.5rem;

    .input-text,
    .sort {
      @include mx.input-text;
    }

    .input-text {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
    }

    .sort-container {
      display: inline;
    }
  }
}

@media (min-width: 768px) {
  .filters__form {
    flex-direction: row;
    gap: 20px;
    font-size: 1.25rem;

    .input-text {
      max-width: 350px;
    }

    .search {
      width: 100%;
    }
  }
}

@media (min-width: 1024px) {
  .filters {
    border-radius: 5px;
  }

  .filters__form {
    gap: 30px;
    font-size: 1rem;
  }
}
