@use '../vars' as v;
@use '../mixins' as mx;

.products__item {
  $rounded: 8px;
  display: flex;
  justify-content: space-between;
  max-width: 768px;
  width: 100%;
  cursor: pointer;
  height: 100px;
  position: relative;
  border-radius: $rounded;
  margin: 30px auto;
  font-size: 1.5rem;
  border: 1px solid v.$warm-gray-darker;

  &:hover {
    border-color: v.$dark-gray;
  }

  &:hover &-img {
    opacity: 0.6;
    transform: scale(1.2);
    transition: transform 250ms;
  }

  &-text,
  &-img-container {
    pointer-events: none;
  }

  &-text {
    padding: 10px;
    max-width: 55%;
  }

  &,
  &-img {
    border-start-end-radius: $rounded;
    border-end-end-radius: $rounded;
  }

  &-img-container {
    overflow: hidden;
    width: 40%;
  }

  &-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &-icon {
    $size: 30px;
    $offset: 3px;
    @include mx.icon($size);
    z-index: 5;
    position: absolute;
    border-radius: 50%;
    right: 0;
    bottom: calc($size / -1.5);

    &:active {
      @include mx.focus-ring;
    }
  }
}

@media (min-width: 768px) {
  .products__item {
    font-size: 1.2rem;
  }

  .products__item-icon {
    $size: 20px;
    $offset: 3px;
    @include mx.icon($size);
    right: calc($size / -2);
    bottom: calc($size / -2);
  }
}

@media (min-width: 1024px) {
  .products__item {
    font-size: 1rem;
    margin: 0 auto;
  }
}
