@use '../vars' as v;
@use '../mixins' as mx;

.products__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  max-width: 768px;
  cursor: pointer;
  height: 100px;
  position: relative;
  border-radius: 5px;

  &:hover {
    background-color: v.$light-gray;
  }

  &-text,
  &-img {
    pointer-events: none;
  }

  &-text {
    padding: 10px;
    max-width: 50%;
  }

  &,
  &-img {
    border-left: none;
    border-radius: 5px;
  }

  &-img {
    height: 100%;
    width: 100%;
    max-width: 30%;
    object-fit: cover;
  }

  &-icon {
    $size: 30px;
    $offset: 5px;
    @include mx.icon($size, $offset);
    z-index: 5;
    position: absolute;
    border-radius: 50%;
    right: calc($size / -2);
    bottom: calc($size / -2);

    &:active {
      $size: $size - $offset;
      @include mx.icon($size, $offset);
      right: calc($size / -2);
      bottom: calc($size / -2);
    }
  }
}