@use '../../mixins' as mx;
@use '../../vars' as v;

.slider-container {
  display: flex;
  flex-direction: column;

  .slider-info {
    display: flex;
    justify-content: space-between;
  }

  .slider-info.equal {
    justify-content: center;
    
    .second {
      display: none;
    }
  }

  .multi-range {
    position: relative;
    height: 30px;
    padding: 10px 0;
    @include mx.flex-center;
  }

  .slider-range {
    position: absolute;
    appearance: none;
    padding: 0 2px;
    width: 100%;
    border: none;
    background: linear-gradient(silver, silver) no-repeat center;
    background-size: 100% 3px;
    pointer-events: none;

    &:active,
    &:focus {
      outline: none;
    }

    &::-webkit-slider-thumb {
      appearance: none;
      z-index: 1;
      position: relative;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background-color: #fff;
      cursor: pointer;
      pointer-events: all;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    }
  }
}

@media (min-width: 768px) {
  .slider-container {
    .multi-range {
      width: 200px;
      padding: 5px 0;
    }

    .slider-range::-webkit-slider-thumb {
      height: 20px;
      width: 20px;
    }
  }
}

@media (min-width: 1024px) {
  .slider-container .multi-range {
    padding: unset;
  }
}
