@use '../vars' as v;
.hidden {
  display: none;
}
.lock{
  overflow: hidden;
}
.checkout__pop-up,
.submit-message__pop-up {
  position: fixed;
  background-color: rgba(1, 1, 1, 0.7);
  backdrop-filter: blur(2px);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 100;
  top: -110%;
  transition: all ease 0.2s;
}
.checkout__pop-up.active,
.submit-message__pop-up.active{
  top: 0;
  transition: all ease 0.2s;
}
.checkout__pop-up_content,
.submit-message {
  display: flex;
  width: 60%;
  background-color: v.$light-gray;
  border: 1px solid v.$header-gray;
  border-radius: 10px;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
  flex-direction: column;
  overflow: auto;
}
.submit-message {
  display: block;
}

