@use '../vars' as v;

$separator: 1px solid v.$divider-color;

.cart__content .products__item {
  $icon-h: 60px;
  $gap: 30px;
  height: unset;
  margin-top: 30px;
  position: relative;
  position: relative;
  display: grid;
  gap: $gap;

  &-img-container {
    max-height: 200px;
    max-width: 200px;
    border-radius: 50%;
    margin-top: $gap;
    justify-self: center;
  }

  &-cart-num {
    padding: 15px;
    margin: 0;
    position: absolute;
    top: 0;
  }

  &-text-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.25rem;
  }

  &-text-container > *:nth-child(n + 2) {
    display: unset;
  }

  &-title,
  &-price {
    font-size: 1.7rem;
  }

  &-description {
    position: relative;
    display: unset;
    padding: 10px;
    margin-bottom: $icon-h;
  }

  &-description::before {
    content: '';
    width: 80%;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    border-top: $separator;
  }

  &-icon-container {
    position: absolute;
    bottom: 0;
    right: 0;
    flex-direction: row;
    align-items: center;
    margin-top: unset;
    margin-left: auto;
  }

  .icon {
    border-top: unset;
    height: $icon-h;
  }
}

@media (min-width: 768px) {
  .cart__content .products__item {
    margin-top: 20px;
    gap: 20px;

    & > * {
      grid-row: 1 / 2;
    }

    &-img-container {
      margin: 10px;
      margin-right: unset;
      align-self: center;
    }

    &-text-container {
      width: 200px;
      position: relative;
      gap: 5px;
      font-size: 1rem;
    }

    &-description::before {
      content: none;
    }

    &-text-container::after {
      position: absolute;
      content: '';
      right: 0;
      margin-left: auto;
      top: 50%;
      height: 70%;
      transform: translateY(-50%);
      border-right: $separator;
    }

    &-title,
    &-price {
      font-size: 1.5rem;
    }

    &-description {
      font-size: 1.2rem;
      max-width: 400px;
    }

    .icon {
      height: 40px;
    }
  }
}

@media (min-width: 1024px) {
  .cart__content .products__item {
    &-title,
    &-price {
      font-size: 1.2rem;
      grid-column: 1 / 3;
    }

    &-text-container {
      font-size: 0.9rem;
      gap: unset;
    }

    .desc:first-of-type {
      margin-top: 10px;
    }

    .icon {
      height: 30px;
    }
  }
}
