// List of mixins can include any repeatable chunks of styles
@use 'vars' as v;

@mixin inset-center($pos: absolute) {
  position: $pos;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin icon($size, $offset) {
  height: $size;
  width: $size;
  background-color: #fff;
  padding: 5px;
  border: 1px solid v.$light-gray;
  box-shadow: 1px 1px 3px v.$light-gray;

  &:hover {
    background-color: v.$light-gray;
  }
}
