// List of mixins can include any repeatable chunks of styles
@use 'vars' as v;

@mixin inset-center($pos: absolute) {
  position: $pos;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin icon($size: 20px, $offset: 0) {
  height: $size;
  width: $size;
  background-color: #fff;
  padding: 5px;
  border: 1px solid v.$warm-gray-darker;
  box-shadow: 1px 1px 3px v.$warm-gray-darker;

  &:hover {
    background-color: v.$light-gray;
  }
}

@mixin focus-ring {
  border-color: rgb(165 180 252);
  outline: 2px solid rgba(199, 210, 254, 0.5);
}
