// Give variables meaningful names, any color or style scheme intended to be reused across the app go here. Otherwise, they should remain in their corresponding files
// Example: $warm-gray-darker: #e8e5e1; $border-thin: 1px solid $warm-gray-darker;

$light-gray: #fafafa;
$warm-gray-darker: #e8e5e1;
$header-gray: #aaa;
$dark-gray: #333;
$font-header: 'Roboto', sans-serif;
$font-header-title: 'Lora', serif;
$controls-border: 1px solid #d1d5db;

// black-yellow palette
$dark-primary-color: #616161;
$light-primary-color: #f5f5f5;
$primary-color: #9e9e9e;
$text-icons-color: #212121;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #bdbdbd;
$accent-color: #ffeb3d;
$accent-color-transparent: #ffeb3d80;

// blue-green palette

// $dark-primary-color: #455a64;
// $light-primary-color: #cfd8dc;
// $primary-color: #607d8b;
// $text-icons-color: #212121;
// $primary-text-color: #212121;
// $secondary-text-color:#757575;
// $divider-color: #bdbdbd;
// $accent-color: #cddc39;
