// Give variables meaningful names, any color or style scheme intended to be reused across the app go here. Otherwise, they should remain in their corresponding files
// Example: $warm-gray-darker: #e8e5e1; $border-thin: 1px solid $warm-gray-darker;

$light-gray: #fafafa;
$warm-gray-darker: #e8e5e1;
$header-gray: #aaa;
$dark-gray: #333;
$font-header: 'Roboto', sans-serif;
$font-header-title: 'Lora', serif;