// Global styles
// Mobile first
// Media queries are to be placed after main styles or queries could be separated into their own files
@use 'normalize';
@use 'mixins' as mx;
@use 'vars' as v;
@use 'header';
@use 'products';

#root {
  width: 100vw;
  overflow-x: hidden; /*it is temporary solution to display the page correctly */
}
.main {
  position: relative;
  top: 60px;
}
