// Global styles
// Mobile first
// Media queries are to be placed after main styles or queries could be separated into their own files
@use 'normalize';
@use 'mixins' as mx;
@use 'vars' as v;
@use 'header';
@use 'products';
@use 'details';

.wrapper {
  display: flex;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.main {
  position: relative;
  top: 80px;
  max-width: 1024px;
  margin: 0 auto;
}

.heading {
  font-size: 2rem;
  text-align: center;
}

.hidden {
  display: none;
}

.btn {
  color: #0f172a;
  font-weight: 600;
  $bgc: #f1f5f9;
  $bgc--hover: v.$light-gray;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  border: 1px solid #d1d5db;

  &:hover {
    background-color: $bgc--hover;
  }

  &:active {
    background-color: revert;
  }

  &:focus {
    /* Offsetted ring style composition taken from
     * https://tailwindcss.com/docs/ring-width#adding-a-ring
     * */
    $ring-inset: 0;
    $ring-offset-width: 2px;
    $ring-offset-color: #f8fafc;
    $ring-opacity: 0.3;
    $ring-color: rgba(56, 68, 94, $ring-opacity);
    $ring-offset-shadow: $ring-inset 0 0 $ring-offset-width $ring-offset-color;
    $ring-shadow: $ring-inset 0 0 calc(2px + $ring-offset-width) $ring-color;
    $shadow-colored: 0 1px 2px 0;
    box-shadow: $ring-offset-shadow, $ring-shadow;
  }
}

@media (min-width: 1024px) {
  .main {
    top: 100px;
  }
}
