@use '../vars' as v;

.product__add-to-cart {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product__price {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 10vh;

  font-size: 2.5rem;
  font-weight: 600;
}

@media (min-width: 768px) {
  .product__add-to-cart {
    width: 40%;
  }

  .product__price {
    margin-bottom: 50px;
  }
}

@media (min-width: 1024px) {
  .product__add-to-cart {
    width: 30%;
    gap: 15px;
  }

  .product__price {
    margin-bottom: unset;
  }
}
