@use '../vars' as v;

.product__photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 10px;
}

.main-photo__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-photo {
  display: flex;
  width: 80%;
  border-radius: 15px;
  max-height: 35vh;
}

.photo__slides {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 20px 0;
}

.slide {
  height: 7vh;
  width: 20%;
  border: 1px solid v.$dark-primary-color;
  border-radius: 10px;
  object-fit: cover;
  cursor: pointer;

  &.active {
    border: 1px solid v.$accent-color;
    outline: 1px solid v.$accent-color;
  }
}

@media (min-width: 768px) {
  .product__photo {
    margin-bottom: 20px;
  }
}

@media (min-width: 1024px) {
  .main-photo__container {
    align-items: flex-start;
    min-height: unset;
    height: unset;
  }

  .product__photo {
    gap: 30px;
  }
}
